#Test Data

[TOC]

##ZED Loop Interval
###i7 / GTX960
| Blocks (w*h)	| Custom Code Time 	| Total Time  |
| ------------- | ----------------- | ----------- |
| 20*11					| 12-16ms           | 29-35ms     |
| 22*12					| 16-22ms	          | 33-38ms     |
| 24*14					| 20-25ms           | 36-45ms     |
| 26*15					| 23-29ms           | 43-52ms     |
| 28*16					| 25-35ms           | 45-55ms (25fps)  |